html,
body {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#root {
    height: 100%;
}

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
   
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
     border-radius: 3px;
	background-color: rgb(68, 67, 65);
}